/******************************************home ************************************************/


/**loding screen**/

.loader, .loader:before, .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.loding {
    height: 100vh;
    width: 100%;
    background-color: teal;
    z-index: 999999999999999;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}

body {
    overflow: hidden;
}

/**option box**/

.option-box {
    width: 200px;
    position: fixed;
    z-index: 999999;
    bottom: 100px;
    left: -159.188;
}

.colors-box {
    background-color: black;
    padding: 10px;
}

.option-box p {
    color: white;
    padding: 10px;
    font-size: 10px;
}

.colors-box ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.colors-box ul li {
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.icon-box {
    cursor: pointer;
    font-size: 25px;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    transition: all 0.5s;
    background-color: white;
}

.icon-box:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

/**nav**/

.navbar-toggler i {
    color: white;
}

header {
    height: 100vh;
    overflow: hidden;
}

nav {
    border-bottom: 1px solid white;
    z-index: 9999999999;

}

.nav-color {
    /* background-color: tomato; */
    font-size: 13px;
    padding: 20px 20px 5px 0;
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    color: #fff;
    transition: all 0.5s;
}

.nav-item {
    padding: 8px;
    font-weight: 500;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.nav-color img {
    margin-left: 100px;
    width: 100px;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

.social {
    margin-left: 10px;
    padding: 10px;
    border-left: 1px solid white;
}



/**arrow*******/

.btnIcon {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.5s;
    display: none;
    z-index: 9999;
}

.btnIcon:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#Home{
   
    position: relative;
}

.black-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1010;
}

.my-header h1{

    color: white;
    font-size: 120px;
    font-weight: 900;
}
.my-header p{

    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}
.my-header button{

 width: 120px;
 height: 50px;
 margin: 5px 20px;
 font-weight: 600;
}












.carousel-indicators {
    z-index: 1020;

}
.carousel-indicators li{

    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.carousel1 {
    height: 100vh;
}

.carousel1 img {
    height: 100%;
}


.carousel-control-prev {
    z-index: 1020;
    height: 60px;
    width: 60px;
    border: 1px solid white;
    top: 50%;
    transition: all 0.5s;
    margin-left: 10px;
    border-radius: 50%;
}

.carousel-control-next {
    z-index: 1020;
    z-index: 999999;
    height: 60px;
    width: 60px;
    border: 1px solid white;
    top: 50%;
    transition: all 0.5s;
    margin-right: 10px;
    border-radius: 50%;
}

.carousel-control-next:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);

    
}

.carousel-control-prev:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}



/************************************about*****************************************/

.sheet2 {
    padding: 100px 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.style-sheet2 h3 {
    font-size: 13px;
    font-weight: 500px;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
}

.style-sheet2 p {
    font-size: 24px;
    font-weight: 200;
    color: #787878;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.style-sheet2 button {
    font-size: 11px;
    font-weight: 400;
    margin: 50px;
    width: 130px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
}

.typing {
    font-size: 24px;
    color: #00c3da;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.typing::after {
    content: "";
    animation: 5s text-animation alternate infinite;
}

@keyframes text-animation {
    0% {
        content: " apps|";
    }
    2% {
        content: " apps|";
    }
    4% {
        content: " apps|";
    }
    6% {
        content: " apps|";
    }
    8% {
        content: " app|";
    }
    10% {
        content: " ap|";
    }
    12% {
        content: " a |";
    }
    14% {
        content: " |";
    }
    16% {
        content: " w|";
    }
    18% {
        content: " we|";
    }
    20% {
        content: " web|";
    }
    22% {
        content: " webs|";
    }
    24% {
        content: " websi|";
    }
    26% {
        content: " websit|";
    }
    28% {
        content: " website|";
    }
    30% {
        content: " websites|";
    }
    32% {
        content: " websites|";
    }
    34% {
        content: " websites|";
    }
    36% {
        content: " websites|";
    }
    38% {
        content: " website|";
    }
    40% {
        content: " websit|";
    }
    42% {
        content: " websi|";
    }
    44% {
        content: " webs|";
    }
    48% {
        content: " web|";
    }
    50% {
        content: " we|";
    }
    52% {
        content: " w|";
    }
    54% {
        content: " |";
    }
    56% {
        content: " s|";
    }
    58% {
        content: " so|";
    }
    60% {
        content: " sof|";
    }
    62% {
        content: " soft|";
    }
    64% {
        content: " softw|";
    }
    66% {
        content: " softwa|";
    }
    68% {
        content: " softwar|";
    }
    70% {
        content: " software |";
    }
    72% {
        content: " softwares|";
    }
    74% {
        content: " softwares|";
    }
    76% {
        content: " softwares|";
    }
    78% {
        content: " softwares|";
    }
    80% {
        content: " software|";
    }
    82% {
        content: " softwar|";
    }
    84% {
        content: " softwa|";
    }
    86% {
        content: " softw|";
    }
    88% {
        content: " soft|";
    }
    90% {
        content: " sof|";
    }
    92% {
        content: " so|";
    }
    94% {
        content: " s|";
    }
    96% {
        content: " |";
    }
    100% {
        content: " |";
    }
}


/*********************************services******************************/
.sheet4{
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.store-heading h2{
    color: white;
    padding: 20px 0 0 0;
    font-size: 55px;
    font-weight: 700;

}
.small-icons {
    padding: 50px 0;
    text-align: center;
}
.small-icons h4 {
    padding: 10px 0;
    font-size:25px;
    color: white;

}
.small-icons p{

    color: white;
}
.small-icons i {
    font-size: 50px;
    padding: 10px;
    color: white;

}
.style-sheet4{
    background-color: rgba(0, 0, 0, 0.7);
}

/*******************************store****************************/
.sheet5{
    padding: 80px 0px;
    background-color: #f5f5f5 ;

}

.card i{
    color: black;
    font-size: 35px;
    padding: 10px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.card:hover i{
    color: white;
    background-color: black ;
    border-radius: 50%;

}

.card{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transition: all 1s 1s; */

}
.img-over-f img {
    transition: all 1s ;

}
.card:hover img {
    transform: scale(1.3 , 1.3);

}
.title {
    width: 50%;
    margin: auto;
    text-align: center;

}
.title h2 {
    font-size: 48px;
    font-weight: 700;
}
.title div {
    margin: auto;
}
.title p {
    color: #4e4e4e;
}
.black-line{
    height: 3px;
    width: 120px;
    background-color: black;
}

/***********************contact**********************/
.sheet8{
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.style-sheet8{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 120px 0;

}
.bg-color{
    background-color: white;
}
.contact-form h2{
    font-size: 32px;
    margin: 50px 10px 10px 10px;
    
}

.contact-form div{
    font-size: 32px;
    margin: 10px;
    
}
.contact-form input,textarea {
    margin: 20px;
}
.form-b {

    text-align: center;
    padding: 15px 0 40px 0;
    
}
.form-b  button{

border-radius: 30px;    
}
.get-form h2{
    font-size: 32px;
    margin: 50px 10px 10px 30px;
    
}
.get-form p{
    font-size: 20px;
    font-weight: 300;
    margin: 22px 10px 10px 30px;
    
}
.about i{
    font-size: 16px;
    color: black;
    margin: 15px 5px 20px 45px;
}
.about p{
    font-size: 16px;
    color: #4e4e4e;
    margin: 10px 5px 20px 10px;
    font-weight: 300;
}



.end-sheet{
    text-align: center;
    background-color: black;
    padding: 20px 0;

}
.end-sheet p{
    color: white;
    margin: 0;
    padding: 5px;
    font-weight: 300;
}
.end-sheet span{
    font-weight: 600;
}
